
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700");

body {
	background-color: #C9C9C9; 
	color: black;
	font-style: "Source Sans Pro", sans-serif;
	font-weight: 400;
	padding:10px;
	background: url(https://images.unsplash.com/photo-1431308305062-f218b6fe520a?fit=crop&fm=jpg&h=825&ixlib=rb-0.3.5&q=80&w=1450) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  color: white;
}

.head {
    margin: 1em;
    border-radius: 20px;
    text-align: center;
    background: none;
    opacity: 0.8;
    font-family: 'Waiting for the Sunrise', cursive;
}

#headerImg {
	width: 400;
	margin-bottom: 1em;
}

.ng-class {
	width: 20em;
}

/*inserts background image and positions it*/
header {
	min-height: 300px;
	background-position: center;	
	margin-bottom: 50px;
	background-repeat: no-repeat;
}

/*changes the color and positions of the span text */
div.help-block {
	text-align: center;
	color: black;
}

/*Controls size of result images*/
.resultDiv img {
	min-height: 240px;
	max-width: 240px;
}

/*positions the divs containing result images*/
.resultDiv {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding: 1%;
}

/*positions backdrop, and gives it a box-shadow*/
#popup {
	box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5); /*h-shadow, v-shadow, blur, color*/
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 10%;
	z-index: 100;
	background-color: #434343;
	color: #AEAEAE;
	width: 35%;
	height: 55%;
	text-align: center;
	overflow: auto;
}

/*darkens opaque backdrop*/
.overlay { 
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #AEAEAE;
    opacity:0.8;
    z-index:99;
}

/*positions the selecteImages div where each result div/image shows up*/
#selectImages {
	padding: 1%;
	display: block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	text-align: center;
}

/*positions the pause music button in bottom right of screen*/
.btn-warning {
	position: fixed;
	z-index: 101;
	right: 2%;
	bottom: 3%;
}

#previewText {
	color: white;
	font-weight: 50;
}

/*positions the album art image in the popup*/
img.popupAlbum {
	padding-top: 65px;
	width: 450px;
	height: 450px;
}

/*When the screen is smaller than 768px (for smartphones), change the image sizes of the popups*/
@media screen and (max-width: 768px) {
	img.popupAlbum {
		margin-left: auto;
		margin-right: auto;
		width: 290px;
		height: 290px;
	}
	h4 {
		margin-left: auto;
		margin-right: auto; 
	}
}